.checklist {
    list-style-type: none;
    padding: 0;
}

.checklist li {
    padding-left: 20px;
}

.checklist li {
    background-image: url('../icoon/unchecked.jpg');
    padding-left: 25px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding-bottom: 10px;

}

.checklist li.checked {
    background-image: url('../icoon/vinkje.png');
    padding-left: 25px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding-bottom: 10px;

}